
.App {
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  color: white;
  height: max-content;
}
/**********************************/
/* Header */
.nav-continer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header{
  font-size: 30px;
  padding: 0 0 0 15px;
}
ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

li {
  padding: 0 25px;
}

.vl {
  border-left: 6px solid green;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.icon {
  font-size: 30px;
  color: white;
}

.github {
  color: black;
}
.shopify {
  color: green;
}

.left-side {

}

.right-side {

}
/**********************************/
.container {
  height: 20px;
}
.content{
  display: flex;
  justify-content: space-around;
}

.heart {
  color: red;
  cursor: pointer;
  padding-right: 100px;
}

.no-heart {
  color: white;
  cursor: pointer;
  padding-right: 100px;
}
.content {
  border: 3px solid transparent;
  padding: 30px 16px;
  border-radius: 3px;
  display: flex;
}

.content .heart {
  height: 90px;
  width: 90px;
  background: url("img.png");
}

.image {
  max-width: 100%;
  min-width: 60%;
  height: auto;
  width: fit-content;
  border: 1px solid rgb(17, 3, 3);
  border-radius: 20px;
}

.spinner {
  height: 30px;
  width: 30px;
  animation: spinner 0.7s linear infinite;
  margin: auto;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}